## **Merging the dataset LEGO sales sub with LEGO catalog sub**

### **1. SETUP NOTEBOOK**

In [4]:
# import libraries
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [5]:
# get the current working directory as a Path object
path = os.getcwd()

# update the path to parent folder
path = os.path.abspath(os.path.join(path, os.pardir))

In [6]:
#import LEGO sales sub
df_sales_sub = pd.read_csv(os.path.join(path, '2 Data', 'Prepared data', 'lego_sales_sub.csv'))

#import LEGO catalog sub
df_cat_sub = pd.read_csv(os.path.join(path, '2 Data', 'Prepared data', 'lego_catalog_sub.csv'))

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [8]:
df_sales_sub.shape

(7703, 28)

In [9]:
df_cat_sub.shape

(40564, 8)

In [10]:
df_sales_sub.head()

,Unnamed: 0,setID,number,numberVariant,name,year,theme,themeGroup,subtheme,category,...,instructionsCount,minAge,US_retailPrice,UK_retailPrice,CA_retailPrice,DE_retailPrice,PL_retailPrice,status,year_time,year_period
0,0,34386,10312,1,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,...,9,18.0,229.99,199.99,299.99,229.99,1099.99,Available now,2023-01-01,2023
1,19,34527,71038,7,Queen of Hearts,2023,Collectable Minifigures,Miscellaneous,Disney 100,Normal,...,0,5.0,NaN,NaN,NaN,NaN,17.99,Available now,2023-01-01,2023
2,124,34528,71038,8,Aurora,2023,Collectable Minifigures,Miscellaneous,Disney 100,Normal,...,0,5.0,NaN,NaN,NaN,NaN,17.99,Temporarily out of stock,2023-01-01,2023
3,229,34520,71038,0,LEGO Minifigures - Disney 100 Series {Random bag},2023,Collectable Minifigures,Miscellaneous,Disney 100,Random,...,0,5.0,NaN,NaN,NaN,NaN,17.99,Coming Soon,2023-01-01,2023
4,334,34521,71038,1,Oswald the Lucky Rabbit,2023,Collectable Minifigures,Miscellaneous,Disney 100,Normal,...,2,5.0,NaN,NaN,NaN,NaN,17.99,Coming Soon,2023-01-01,2023

In [11]:
df_cat_sub.head()

,Unnamed: 0,inventory_id,set_num,theme_id,num_parts,num_colors,num_materials,sum_spares
0,0,1,7922-1,460.0,5.0,5.0,1.0,5.0
1,1,3,3931-1,494.0,43.0,9.0,1.0,25.0
2,2,4,6942-1,134.0,20.0,4.0,1.0,12.0
3,3,15,5158-1,443.0,2.0,1.0,1.0,2.0
4,4,16,903-1,371.0,10.0,2.0,1.0,4.0

In [12]:
df_sales_sub.columns

Index(['Unnamed: 0', 'setID', 'number', 'numberVariant', 'name', 'year',
       'theme', 'themeGroup', 'subtheme', 'category', 'pieces', 'minifigs',
       'ownedBy', 'wantedBy', 'rating', 'reviewCount', 'packagingType',
       'availability', 'instructionsCount', 'minAge', 'US_retailPrice',
       'UK_retailPrice', 'CA_retailPrice', 'DE_retailPrice', 'PL_retailPrice',
       'status', 'year_time', 'year_period'],
      dtype='object')

In [13]:
df_cat_sub.columns

Index(['Unnamed: 0', 'inventory_id', 'set_num', 'theme_id', 'num_parts',
       'num_colors', 'num_materials', 'sum_spares'],
      dtype='object')

In [14]:
#drop columns not relevant for analysis 
df_sales_sub = df_sales_sub.drop(columns='Unnamed: 0')

In [15]:
df_cat_sub = df_cat_sub.drop(columns=['Unnamed: 0', 'inventory_id'])

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Prepare join key for merge**

In [18]:
#create column for df_sales_sub data grain
df_sales_sub['set_number'] = df_sales_sub['number'].astype(str) + '-' + df_sales_sub['numberVariant'].astype(str)

In [19]:
# Move the 'set_number' column to the first position
# Get a list of all columns
cols = df_sales_sub.columns.tolist()

# Remove 'set_number' from its current position and insert it at the beginning
cols.insert(0, cols.pop(cols.index('set_number')))

# Reorder the DataFrame based on the modified list of columns
df_sales_sub = df_sales_sub[cols]

In [20]:
#drop columns not relevant for analysis 
df_sales_sub = df_sales_sub.drop(columns='number')

In [21]:
df_sales_sub = df_sales_sub.drop(columns='numberVariant')

In [22]:
df_cat_sub['set_num'] = df_cat_sub['set_num'].astype('string')

In [23]:
#make join keys consistent
df_sales_sub['set_number'] = df_sales_sub['set_number'].str.strip()
df_cat_sub['set_num'] = df_cat_sub['set_num'].str.strip()

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Merge tables**

In [26]:
df_lego_analysis = df_sales_sub.merge(df_cat_sub, left_on='set_number', right_on='set_num', how='inner')

In [27]:
df_lego_analysis.head()

,set_number,setID,name,year,theme,themeGroup,subtheme,category,pieces,minifigs,...,PL_retailPrice,status,year_time,year_period,set_num,theme_id,num_parts,num_colors,num_materials,sum_spares
0,10312-1,34386,Jazz Club,2023,Icons,Model making,Modular Buildings Collection,Normal,2899.0,8.0,...,1099.99,Available now,2023-01-01,2023,10312-1,155.0,2900.0,40.0,1.0,745.0
1,71038-7,34527,Queen of Hearts,2023,Collectable Minifigures,Miscellaneous,Disney 100,Normal,8.0,1.0,...,17.99,Available now,2023-01-01,2023,71038-7,745.0,8.0,3.0,1.0,5.0
2,71038-8,34528,Aurora,2023,Collectable Minifigures,Miscellaneous,Disney 100,Normal,7.0,1.0,...,17.99,Temporarily out of stock,2023-01-01,2023,71038-8,745.0,7.0,3.0,1.0,3.0
3,71038-0,34520,LEGO Minifigures - Disney 100 Series {Random bag},2023,Collectable Minifigures,Miscellaneous,Disney 100,Random,NaN,NaN,...,17.99,Coming Soon,2023-01-01,2023,71038-0,NaN,NaN,NaN,NaN,NaN
4,71038-1,34521,Oswald the Lucky Rabbit,2023,Collectable Minifigures,Miscellaneous,Disney 100,Normal,5.0,1.0,...,17.99,Coming Soon,2023-01-01,2023,71038-1,745.0,5.0,1.0,1.0,2.0

In [28]:
#count number of rows from df_sales_sub that were not complemented by df_cat_dub
non_matching_rows = df_lego_analysis[df_lego_analysis['set_num'].isna()]
non_matching_rows.shape[0]

0

In [29]:
# check shape after merge
df_lego_analysis.shape

(8366, 32)

In [30]:
# check for duplicates
df_lego_analysis.duplicated().sum()

551

In [31]:
# drop duplicates
df_lego_analysis = df_lego_analysis.drop_duplicates()

In [32]:
# confirm dropped duplicates
df_lego_analysis.shape

(7815, 32)

In [33]:
# check missing values
df_lego_analysis.isnull().sum()

set_number              0
setID                   0
name                    0
year                    0
theme                   0
themeGroup             15
subtheme              879
category                0
pieces                122
minifigs             2334
ownedBy                 8
wantedBy                0
rating                  0
reviewCount             0
packagingType           0
availability            0
instructionsCount       0
minAge               2190
US_retailPrice       2790
UK_retailPrice       2732
CA_retailPrice       3225
DE_retailPrice       4331
PL_retailPrice        714
status                  0
year_time               0
year_period             0
set_num                 0
theme_id              212
num_parts             212
num_colors            167
num_materials         167
sum_spares            167
dtype: int64

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**IMPUTE MISSING MINIFIGS FROM LEGO CATALOG IN LEGO SALES**

**Prepare minifig table from LEGO catalog**

In [37]:
# import data set LEGO catalog
df_inv = pd.read_csv(os.path.join(path, '2 Data', 'Original data', 'inventories.csv'))
df_inv_mf = pd.read_csv(os.path.join(path, '2 Data', 'Original data', 'inventory_minifigs.csv'))
df_mf = pd.read_csv(os.path.join(path, '2 Data', 'Original data', 'minifigs.csv'))

In [38]:
# check columns
df_inv.columns

Index(['id', 'version', 'set_num'], dtype='object')

In [39]:
# remove column version from df
df_inv.drop(columns='version', inplace=True)

In [40]:
# check columns
df_inv_mf.columns

Index(['inventory_id', 'fig_num', 'quantity'], dtype='object')

In [41]:
# check columns
df_mf.columns

Index(['fig_num', 'name', 'num_parts', 'img_url'], dtype='object')

In [42]:
# remove columns from df
df_mf.drop(columns=['name', 'num_parts', 'img_url'], inplace=True)

In [43]:
# check data types
df_inv.dtypes

id          int64
set_num    object
dtype: object

In [44]:
df_inv_mf.dtypes

inventory_id     int64
fig_num         object
quantity         int64
dtype: object

In [45]:
df_mf.dtypes

fig_num    object
dtype: object

In [46]:
# merge tables, inv is base, inv_mf complements
df_mfs = df_inv.merge(df_inv_mf, left_on='id', right_on='inventory_id', how='inner')

In [47]:
# confirm merge
df_mfs.columns

Index(['id', 'set_num', 'inventory_id', 'fig_num', 'quantity'], dtype='object')

In [48]:
# complement minifigs table
df_mfs = df_mfs.merge(df_mf, on='fig_num', how='left')

In [49]:
# confirm merg
df_mfs.head()

   id   set_num  inventory_id     fig_num  quantity
0   3    3931-1             3  fig-001549         1
1   4    6942-1             4  fig-000764         1
2  19    4444-1            19  fig-000555         1
3  25  71012-11            25  fig-000574         1
4  26    6435-1            26  fig-000842         1

In [50]:
# remove columns from df
df_mfs.drop(columns=['id', 'inventory_id'], inplace=True)

In [51]:
# check merged df
df_mfs.shape

(22478, 3)

In [52]:
df_mfs.head()

    set_num     fig_num  quantity
0    3931-1  fig-001549         1
1    6942-1  fig-000764         1
2    4444-1  fig-000555         1
3  71012-11  fig-000574         1
4    6435-1  fig-000842         1

In [53]:
# check quanity range
df_mfs.sort_values(by='quantity', ascending=False)

            set_num     fig_num  quantity
5247      2000409-1  fig-001087       100
187          7662-1  fig-002330        16
5785        75086-1  fig-002330        12
8998       970661-1  fig-002229        10
13001      852998-1  fig-001814        10
...             ...         ...       ...
7711          363-1  fig-004966         1
7709        70404-1  fig-010112         1
7708        70404-1  fig-010111         1
7707        70404-1  fig-010110         1
22477  5836281087-1  fig-010654         1

[22478 rows x 3 columns]

In [54]:
pd.reset_option('display.max_rows')

In [55]:
# redefine df with sum minifigs by set_num
df_mfs = df_mfs.groupby('set_num')['quantity'].sum().reset_index()
df_mfs

           set_num  quantity
0     0003977811-1         1
1           0011-2         3
2           0012-1         2
3           0013-1         2
4           0014-1         4
...            ...       ...
8288     WILLIAM-1         1
8289     WLB6701-1         1
8290   YODACHRON-1         3
8291  sw117promo-1         1
8292        tf05-1         3

[8293 rows x 2 columns]

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

**Prepare main df to impute missing minifigs**

In [58]:
# filter main df to missing mf only
df_missing_mf = df_lego_analysis[df_lego_analysis['minifigs'].isna()]
df_missing_mf

,set_number,setID,name,year,theme,themeGroup,subtheme,category,pieces,minifigs,...,PL_retailPrice,status,year_time,year_period,set_num,theme_id,num_parts,num_colors,num_materials,sum_spares
3,71038-0,34520,LEGO Minifigures - Disney 100 Series {Random bag},2023,Collectable Minifigures,Miscellaneous,Disney 100,Random,NaN,NaN,...,17.99,Coming Soon,2023-01-01,2023,71038-0,NaN,NaN,NaN,NaN,NaN
21,10314-1,34445,Dried Flower Centrepiece,2023,Icons,Model making,Botanical Collection,Normal,812.0,NaN,...,249.99,Available now,2023-01-01,2023,10314-1,721.0,812.0,18.0,1.0,134.0
23,10317-1,39928,Land Rover Classic Defender 90,2023,Icons,Model making,Vehicles,Normal,2336.0,NaN,...,1149.99,Pre-Order,2023-01-01,2023,10317-1,721.0,2344.0,21.0,2.0,535.0
24,10323-1,47098,PAC-MAN Arcade,2023,Icons,Model making,Licensed,Normal,2651.0,NaN,...,1279.99,Lack of data,2023-01-01,2023,10323-1,721.0,2651.0,23.0,3.0,472.0
25,10785-1,45489,Bakey with Cakey Fun,2023,Gabby's Dollhouse,NaN,NaN,Normal,58.0,NaN,...,45.99,Available now,2023-01-01,2023,10785-1,748.0,58.0,16.0,1.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8303,8035-1,4105,Universal Set,1986,Technic,Technical,Universal,Normal,174.0,NaN,...,NaN,Retired Product,1986-01-01,1986,8035-1,21.0,174.0,4.0,3.0,50.0
8305,1972-1,686,Go-Kart,1985,Technic,Technical,NaN,Normal,98.0,NaN,...,79.00,Retired Product,1985-01-01,1985,1972-1,1.0,98.0,4.0,2.0,35.0
8324,8851-1,4494,Excavator,1984,Technic,Technical,NaN,Normal,347.0,NaN,...,1999.00,Retired Product,1984-01-01,1984,8851-1,1.0,362.0,4.0,2.0,73.0
8333,8843-1,4485,Fork-Lift Truck,1984,Technic,Technical,NaN,Normal,269.0,NaN,...,1500.00,Retired Product,1984-01-01,1984,8843-1,1.0,275.0,4.0,2.0,85.0
8361,6305-1,3152,Trees and Flowers,1980,Town,Modern day,Accessories,Normal,12.0,NaN,...,12.99,Retired Product,1980-01-01,1980,6305-1,67.0,24.0,4.0,1.0,6.0

In [59]:
# row count missing mf rows
df_missing_mf.shape[0]

2334

In [60]:
# checking matching rows prior to merging
df_missing_mf['set_num'].isin(df_mfs['set_num']).sum()

112

In [61]:
# join filtered df with df_mfs to pull in missing data
merged_mf = df_missing_mf.merge(
    df_mfs[['set_num', 'quantity']],
    on='set_num',
    how='left',
    suffixes=('', '_mf')
)

In [62]:
# confirming unchanged row count
merged_mf.shape[0]

2334

In [63]:
# check merged df
merged_mf.head()

,set_number,setID,name,year,theme,themeGroup,subtheme,category,pieces,minifigs,...,status,year_time,year_period,set_num,theme_id,num_parts,num_colors,num_materials,sum_spares,quantity
0,71038-0,34520,LEGO Minifigures - Disney 100 Series {Random bag},2023,Collectable Minifigures,Miscellaneous,Disney 100,Random,NaN,NaN,...,Coming Soon,2023-01-01,2023,71038-0,NaN,NaN,NaN,NaN,NaN,NaN
1,10314-1,34445,Dried Flower Centrepiece,2023,Icons,Model making,Botanical Collection,Normal,812.0,NaN,...,Available now,2023-01-01,2023,10314-1,721.0,812.0,18.0,1.0,134.0,NaN
2,10317-1,39928,Land Rover Classic Defender 90,2023,Icons,Model making,Vehicles,Normal,2336.0,NaN,...,Pre-Order,2023-01-01,2023,10317-1,721.0,2344.0,21.0,2.0,535.0,NaN
3,10323-1,47098,PAC-MAN Arcade,2023,Icons,Model making,Licensed,Normal,2651.0,NaN,...,Lack of data,2023-01-01,2023,10323-1,721.0,2651.0,23.0,3.0,472.0,1.0
4,10785-1,45489,Bakey with Cakey Fun,2023,Gabby's Dollhouse,NaN,NaN,Normal,58.0,NaN,...,Available now,2023-01-01,2023,10785-1,748.0,58.0,16.0,1.0,46.0,1.0

In [64]:
# check columns
merged_mf.columns

Index(['set_number', 'setID', 'name', 'year', 'theme', 'themeGroup',
       'subtheme', 'category', 'pieces', 'minifigs', 'ownedBy', 'wantedBy',
       'rating', 'reviewCount', 'packagingType', 'availability',
       'instructionsCount', 'minAge', 'US_retailPrice', 'UK_retailPrice',
       'CA_retailPrice', 'DE_retailPrice', 'PL_retailPrice', 'status',
       'year_time', 'year_period', 'set_num', 'theme_id', 'num_parts',
       'num_colors', 'num_materials', 'sum_spares', 'quantity'],
      dtype='object')

In [65]:
# drop column
merged_mf.drop(columns='sum_spares', inplace=True)

In [66]:
# check for duplicates
merged_mf.duplicated().sum()

23

In [67]:
# drop duplicates
merged_mf = merged_mf.drop_duplicates()

In [68]:
# move values from quanity to minifigs to replace NaNs 
merged_mf['minifigs'] = merged_mf['minifigs'].fillna(merged_mf['quantity'])

# drop empty quantity column 
merged_mf.drop(columns=['quantity'], inplace=True)

In [69]:
# check missing values
merged_mf['minifigs'].isna().sum()

2199

In [70]:
# count missing mf by theme
merged_mf[merged_mf['minifigs'].isna()].groupby('theme').size().reset_index(name='null_count')

              theme  null_count
0   Advanced models          11
1       Adventurers           1
2      Architecture          55
3               Art          13
4          Assorted           1
..              ...         ...
78             Town          22
79           Trains          11
80         Unikitty           3
81           Vidiyo           2
82             Xtra          16

[83 rows x 2 columns]

In [71]:
# impute for missing mf by theme
merged_mf.loc[merged_mf['theme'] == 'Architecture', 'minifigs'] = 0
merged_mf.loc[merged_mf['theme'] == 'BrickHeadz', 'minifigs'] = 0
merged_mf.loc[merged_mf['theme'] == 'Brick Sketches', 'minifigs'] = 0
merged_mf.loc[merged_mf['theme'] == 'Collectable Minifigures', 'minifigs'] = 1

In [72]:
# list set number for missing mf
merged_mf[merged_mf['minifigs'].isna()][['theme', 'set_num', 'minifigs']]

        theme  set_num  minifigs
1       Icons  10314-1       NaN
2       Icons  10317-1       NaN
8     Classic  11029-1       NaN
9     Classic  11027-1       NaN
10    Classic  11028-1       NaN
...       ...      ...       ...
2329  Technic   8035-1       NaN
2330  Technic   1972-1       NaN
2331  Technic   8851-1       NaN
2332  Technic   8843-1       NaN
2333     Town   6305-1       NaN

[1955 rows x 3 columns]

In [73]:
# export to csv
merged_mf.to_csv(os.path.join(path, '2 Data','Prepared data', 'missing_set_num.csv'))

In [74]:
# aggregate by set_num to remove duplicates
aggregated_mf = merged_mf.groupby('set_num')['minifigs'].sum()

# update main df by merging back filtered df
df_lego_analysis['minifigs'] = df_lego_analysis['minifigs'].fillna(aggregated_mf)

In [75]:
df_lego_analysis.isnull().sum()

set_number              0
setID                   0
name                    0
year                    0
theme                   0
themeGroup             15
subtheme              879
category                0
pieces                122
minifigs             2334
ownedBy                 8
wantedBy                0
rating                  0
reviewCount             0
packagingType           0
availability            0
instructionsCount       0
minAge               2190
US_retailPrice       2790
UK_retailPrice       2732
CA_retailPrice       3225
DE_retailPrice       4331
PL_retailPrice        714
status                  0
year_time               0
year_period             0
set_num                 0
theme_id              212
num_parts             212
num_colors            167
num_materials         167
sum_spares            167
dtype: int64

In [76]:
# export to csv
df_lego_analysis.to_csv(os.path.join(path, '2 Data','Prepared data', 'lego_analysis.csv'))

 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .